@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$text-color:#A2A09E;
$nav-color:#262626;
$border-color:#B7B7B7;
$border-bottom:#BCBCBC;
$btn-hover-bg:#666666;
$heading-color:#fcfbfce0;
$opacity-bg:#3E3C3F;
$opacity-bg:#3E3C3F;
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #0c0c0c;
$link-hover-color: #f8b500;

$link-hoverc-color: #E6E6E6;
